.App {
  background-color: #dfe6e9;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  /* border: 3px solid red; */
  text-align: center;
}

.loginButton {
  position: absolute;
  top: 50%;
  /* border: 3px solid blue; */
  left: 40%;
}

.userInputField {
  padding: 5px solid black;
}
