html,body{ margin:0; padding:0; height:100%; width:100%; }
.App {
  text-align: center;
  background-color: #CAD3C8;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* overflow: hidden; */
  position: fixed;
}

.loginButton {
  height: 100px;
}

.userInputField {
  padding: 5px solid black;
}
